{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title> Login Form</title>

{% endblock %}
{% block body %}
<div class="login-page">
  <div class="form" >
    <form class="login-form" action="/edit_post/{{post_idx}}" method="POST">
      <input type="text" placeholder="{{title}}" name="Title" id="Title"/>
      ​<textarea id="Text" name="Text" rows="10" cols="35" placeholder="Text">{{text}}</textarea>
       <button>Edit_post</button>
       <p class="message">{{ error }}</p>
    </form>
  </div>
</div>


{% endblock %}