{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title> Login Form</title>

{% endblock %}
{% block body %}
<div class="login-page">
  <div class="form" >
    <form class="login-form" action="/login" method="POST">
      <input type="text" placeholder="username" name="user_name" id="user_name"/>
      <input type="password" placeholder="password" name="password" id="password"/>
      <button>login</button>
       <p class="message">{{ error }}</p>
    </form>
  </div>
</div>


{% endblock %}